/* colors - see style guide for docs. 
Clearly there is more you could place in variables, up to you if you want to use them. My answer does not go beyond colors to keep the code easier to read. */

:root {
    --color1: #001219;
    --color2: #005f73;
    --color3: #3d9397;
    --color4: #94d28d;
    --color5: #e9d8a6;
    --color6: #ee9800;
    --color7: #ca6702;
    --color8: #bb3e03;
    --color9: #ae2012;
    --color10: #9b2226;
}


/* generic site styles */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #DBE5DE;
    padding: 0;
    margin: 0;
}

section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

section h2 {
    font-size: 2.5rem;
}

figure {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    margin: 0;
    padding: 0;
}

figcaption {
    position: absolute;
    background-color: #DBE5DE;
    width: 100%;
    bottom: 0%;
    opacity: .7;
    padding: 8px 8px 10px 16px;
}

figcaption * {
    margin: .5rem;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: #001219;
}

ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    gap: 4%;
}

li {
    flex-basis: calc(33.333% - 4%);
}

.figure__border--dark-orange {
    border: 5px solid var(--color7);
}
.figure__border--dark-blue {
    border: 5px solid var(--color2);
}
.figure__border--light-orange {
    border: 5px solid var(--color6);
}
.figure__border--red {
    border: 5px solid var(--color8);
}
.figure__border--green {
    border: 5px solid var(--color4);
}
.figure__border--light-blue {
    border: 5px solid var(--color3);
}

/* Initial mobile layout: a series of images stacked on top of each other with the figure caption over the image. */


/* At this breakpoint, transition to 2 figures per line */

@media (min-width: 550px) {}


/* At this breakpoint, transition to 3 figures per line */

@media (min-width: 800px) {}